.myButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #9dd558;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #8cc644;
  }

  &.alt {
    background-color: white;
    color: #9dd558;
    border: 1px solid #9dd558;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  &:disabled {
    background-color: #c4c4c4;
    cursor: default;
  }
}
