@use '../../scss/shared' as *;

.root {
  padding-left: 43px;
  padding-right: 43px;

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: end;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }

  .searchWrapper {
    display: flex;
    column-gap: 20px;

    @media (max-width: 700px) {
      width: 100%;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .sneakerCardsWrapper {
    @include sneaker-cards-grid;
  }
}
