.root {
  display: flex;
  align-items: center;
  column-gap: 17px;
  height: 38px;

  .counterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8CC644;
    border-radius: 10px;
    width: 38px;
    height: 38px;
    font-size: 22px;

    &.alt {
      background-color: white;
      color: #8CC644;
    }
  }

  span {
    font-size: 20px;
  }
}