.root {
  display: flex;
  align-items: center;
  column-gap: 17px;
  height: 38px;

  .counterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8CC644;
    border-radius: 10px;
    width: 38px;
    height: 38px;
    font-size: 22px;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    &:disabled {
      background-color: #e0e0e0;
      border-color: #ccc;
      cursor: not-allowed;
      opacity: 0.6;
    }

    &.alt {
      background-color: white;
      color: #8CC644;
      &:disabled {
        background-color: #f0f0f0;
        color: #b0b0b0;
        border-color: #ddd;
      }
    }
  }

  span {
    font-size: 20px;
  }

  &.small {
    height: 19px;
    column-gap: 10px;
    .counterButton {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      font-size: 18px;
    }

    span {
      font-size: 17px;
    }
  }
}