.sortWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  font-family: sans-serif;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  min-width: 270px;
  justify-content: center;

  .sortIcon {
    cursor: pointer;
    transition: transform 0.3s ease;

    &.rotated {
      transform: scaleX(-1);
    }
  }

  span {
    font-weight: 700;
  }

  .customSelect {
    position: relative;
    cursor: pointer;
    user-select: none;

    .selected {
      display: inline-block;
      padding: 8px 12px 8px 0;
      color: #8cc644;
      border-radius: 6px;
      //background-color: white;
      transition: all 0.2s;
      position: relative;
      white-space: nowrap;
    }

    .options {
      margin-top: 8px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      border-top: none;
      background-color: white;
      border-radius: 6px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;

      max-height: 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      transition:
        max-height 0.3s ease,
        opacity 0.3s ease;

      width: max-content;
      min-width: 100%;

      li {
        padding: 10px 12px;
        cursor: pointer;
        transition: background 0.2s;
        list-style: none;

        &:hover {
          background-color: #f2f2f2;
        }

        &.active {
          background-color: #e6e6e6;
          font-weight: 600;
        }
      }
    }

    &.open {
      .options {
        max-height: 500px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
