.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 80px;
  row-gap: 10px;

  font-size: 30px;

  img {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 841px) {
    font-size: 20px;
  }
}
