.root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 83px;
    height: 120px;
    margin-bottom: 21px;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 9px;
    color: #87c20a;
  }

  p {
    color: #999999;
    text-align: center;
    margin-bottom: 40px;
  }
}
