button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #9DD558;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #8CC644;
  }

  &.alt {
    background-color: white;
    color: #9DD558;
    border: 1px solid #9DD558;

    &:hover {
      background-color: #F3F3F3;
    }
  }
}