.root {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  transition: padding-bottom 0.3s ease;

  @media (max-width: 685px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .orderInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: 685px) {
      flex-direction: column;
      align-items: start;
      row-gap: 12px;
    }

    .infoWrapper {
      display: flex;
      column-gap: 19px;
      align-items: center;

      span {
        font-size: 24px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        color: #aeaeae;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    column-gap: 27px;

    @media (max-width: 685px) {
      width: 100%;
      justify-content: space-between;
    }

    img {
      width: 21px;
      height: 13px;
      cursor: pointer;
    }
  }

  .orderItemsContainer {
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .orderItems {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    & > div:not(:last-child) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e0e0e0;
      }
    }
  }

  .result {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .infoWrapper {
      display: flex;
      font-size: 20px;
      p {
        font-weight: 600;
      }
    }
  }
}
