.orderButton {
  border: 2px solid;
  background-color: white;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

  &.canceled,
  &.cancel {
    color: #ff544a;
    border-color: #ff544a;
  }

  &.pending {
    color: #e6c20d;
    border-color: #e6c20d;
  }

  &.completed {
    color: #1bb486;
    border-color: #1bb486;
  }
}
